@import "tailwindcss";

@theme inline {
  --color-denim: hsl(213, 96%, 18%);
  --color-gray: hsl(231, 11%, 63%);
  --color-light-blue: hsl(228, 100%, 84%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-very-light-gray: hsl(231, 100%, 99%);
  --color-background: hsl(218, 100%, 97%);
  --color-white: hsl(0, 100%, 100%);
  --color-purple: hsl(243, 100%, 62%);
  --color-red-errors: hsl(354, 84%, 57%);
  --color-sky-blue: hsl(206, 94%, 87%);
  --font-ubuntu: var(--font-ubuntu);
}

body {
  @apply font-ubuntu bg-background text-denim;
}
